@tailwind base;
@tailwind components;
@tailwind utilities;


li {
    font-size: medium;
    font-weight: 500;
}

.active {
    padding: 5px;
    margin: 4px 0px;
    color: white;
    font-size: 16px;
}

.default {
    padding: 5px;
    margin: 4px 0px;
    font-size: 16px;
}